.container{
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px #5555;
    form {
        display: flex;
        align-items: center;
        font-size: 1.2em;
        input {
            flex-grow: 1;
            padding: 0.2em 0.5em;
            border: none;
            outline: none;
        }
        button {
            font-size: 1.2em;
            font-weight: bold;
        }
    }
    .err{
        color: red;
    }
}